#pole{width: 140px;}
#pole a{width: 30px; height: 30px; float: left; display: block; cursor: pointer; margin: 1px; border: 1px solid #dfdfdf;}
#pole .color1{background-color: #FF0000;}
#pole .color2{background-color: #FF8000;}
#pole .color3{background-color: #FFFF00;}
#pole .color4{background-color: #40FF00;}
#pole .color5{background-color: #01DFD7;}
#pole .color6{background-color: #0000FF;}
#pole .color7{background-color: #FF00BF;}
#pole .color8{background-color: #071918;}
#pole .hidden{background-color: white;}


#timer{
margin: 20px auto;
text-align: center;
color: #333;
font-family: fantasy;
font-size: 100px;
cursor: default;
}

#timer div{
display: inline;
}